# ------------------------------------------------------------------------------
#                     Author    : F2 - JPD
#                     Time-stamp: "2021-02-19 07:26:20 jpdur"
# ------------------------------------------------------------------------------

# Directories not to be included as not ready yet
IMF
Data

# Files which are not be exported - used to build readme.md
readme.org
makefile 

# All data files generated
*.csv
*.xlsx

# All Images
*.png

# All TestFiles
Test*.*